@charset "UTF-8";
/*
** Styles de base
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  background: white;
  color: black;
}

/*
** Typographie
*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Shrikhand-Regular.woff2") format("woff2"), url("../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Shrikhand", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*
** Mise en page du site
*/
body {
  min-width: 240px;
}

/*
.container {
  max-width: $max-width;
  margin: 0 auto;
}
*/
/*
** Styles pour l'en-tête de page
*/
body > header {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  max-width: 800px;
  margin: 0 auto;
}
body > header a {
  font-size: 20.3px;
  color: #353535;
  position: absolute;
  left: 22px;
}
body > header .logo {
  font-size: 29px;
  margin: 0 auto;
}

/*
** Styles pour le pied de page
*/
footer {
  background-color: #353535;
  padding-top: 24px;
  padding-bottom: 31px;
}
footer .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 800px;
}
footer h1 {
  color: white;
  font-size: 17.9px;
  font-weight: 400;
  margin-bottom: 16px;
}
footer ul {
  list-style-type: none;
  line-height: 26.2px;
  padding-left: 0;
}
footer li a {
  color: white;
  display: flex;
  align-items: center;
}
footer li i {
  font-size: 12.3px;
  padding-right: 22px;
}
footer li p {
  font-size: 16.3px;
}

/*
** Animation au chargement
*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: loader 300ms forwards;
}

.plate {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 40px solid #99e2d0;
  border-radius: 50%;
  flex-shrink: 0;
}

.fork,
.knife {
  position: absolute;
  width: 50px;
  height: 150px;
  opacity: 0.8;
}

.fork {
  fill: #9356dc;
  animation: fork 240ms linear both;
}

.knife {
  fill: #ff79da;
  animation: knife 240ms linear both;
}

@keyframes loader {
  from, 85% {
    opacity: 1;
  }
  99%, to {
    opacity: 0;
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes fork {
  from {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-720deg);
  }
  75% {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-270deg);
  }
  to {
    transform: scale(1) translateX(-125px);
  }
}
@keyframes knife {
  from {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-1440deg);
  }
  75% {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-90deg);
  }
  to {
    transform: scale(1) translateX(125px);
  }
}
/*
** Styles du champ du formulaire de recherche
*/
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(#cecece, #eaeaea 10%);
}
.input__label, .input__field {
  z-index: 1;
}
.input__field {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 15.5px;
  font-weight: 700;
  width: 140px;
}
.input__field:hover {
  cursor: pointer;
}
.input__field:focus {
  outline: none;
}
.input__background {
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #9356dc;
  opacity: 0;
}
.input__field:focus + .input__background {
  opacity: 0.1;
}

/*
** Style des boutons
*/
.button {
  height: 50px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16.3px;
  padding: 0 21px;
  box-shadow: 0px 5px 5px #c6c6c6;
  transition-property: box-shadow, opacity;
  transition-duration: 300ms;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px #8c8c8c;
  opacity: 0.75;
}

/*
** Styles d'une étape du fonctionnement
*/
.step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 75px;
  border-radius: 15px;
  box-shadow: 0px 6px 6px #e4e4e4;
  margin-left: 12px;
  padding-top: 8px;
  margin-bottom: 23px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12.8px;
  color: white;
  background: #9356dc;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  margin-right: 22px;
}
.step__icon {
  width: 41px;
  color: #7e7e7e;
  font-size: 18px;
}
.step__label {
  font-weight: 700;
  font-size: 15.8px;
}
.step:hover {
  background: #f2f0f5;
}
.step:hover .step__icon {
  color: #9356dc;
}

/*
** Styles et animation de l'icône 'like'
*/
.like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 22px;
  height: 22px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 20px;
}

.like::before,
.like::after {
  content: "\f004";
  position: absolute;
}

.like::before {
  color: white;
  text-shadow: 1px 0px 0 black, 0.8660254038px 0.5px 0 black, 0.5px 0.8660254038px 0 black, 0px 1px 0 black, -0.5px 0.8660254038px 0 black, -0.8660254038px 0.5px 0 black, -1px 0px 0 black, -0.8660254038px -0.5px 0 black, -0.5px -0.8660254038px 0 black, 0px -1px 0 black, 0.5px -0.8660254038px 0 black, 0.8660254038px -0.5px 0 black;
}

@keyframes like-off-hide {
  0%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.like::after {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

@keyframes like-on-grow {
  0% {
    opacity: 0;
    transform: translate(0, 9.625px) scale(0);
  }
  50%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1.0909090909);
  }
}
.like:hover {
  cursor: pointer;
}
.like:hover::before {
  animation: like-off-hide 300ms ease-in-out forwards;
}
.like:hover::after {
  animation: like-on-grow 300ms ease-in-out forwards;
}

/*
** Styles d'une carte de restaurant
*/
.card {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 6px 6px #e4e4e4;
  margin-bottom: 18px;
}
.card__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  overflow: hidden;
}
.card__picture img {
  object-fit: cover;
  width: 100%;
  align-self: stretch;
}
.card__sticky {
  position: absolute;
  background: #99e2d0;
  color: #227661;
  font-size: 13.6px;
  font-weight: 700;
  top: 13px;
  right: 12px;
  padding: 6.5px 13px;
  border-radius: 3px;
}
.card__label {
  position: relative;
  width: calc(100% - 46px);
  padding: 16px 13px 15px 13px;
}
.card__label h3 {
  font-size: 17.8px;
  margin-bottom: 5px;
}
.card__label p {
  font-size: 16.9px;
}
.card__label .like {
  position: absolute;
  font-size: 22px;
  right: -22px;
  top: 22px;
}

/*
** Soulignement
*/
.underline {
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  from, 60% {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
.dish {
  display: flex;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 14px;
  box-shadow: 0px 5px 5px #e4e4e4;
}
.dish:nth-child(1) {
  animation: fade-in 800ms 0ms backwards;
}
.dish:nth-child(2) {
  animation: fade-in 800ms 180ms backwards;
}
.dish:nth-child(3) {
  animation: fade-in 800ms 360ms backwards;
}
.dish:nth-child(4) {
  animation: fade-in 800ms 540ms backwards;
}
.dish__name {
  margin: 13px 0 12px 11px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.dish__name h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17.9px;
  margin-bottom: 6px;
}
.dish__name p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14.7px;
}
.dish__price {
  align-self: flex-end;
  font-size: 14.7px;
  font-weight: 700;
  margin: 13px 23px 11px 13px;
}
.dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: white;
  flex-shrink: 0;
  width: 59px;
  background: #99e2d0;
  font-size: 20px;
  margin-right: -59px;
  transition: margin-right 500ms ease-in-out;
}
.dish__check::before {
  content: "\f058";
}
.dish:hover .dish__check {
  margin-right: 0;
}
.dish:hover .dish__check::before {
  animation: spin 500ms ease-out forwards;
}

/*
** Styles spécifiques à la page d'accueil
*/
.search {
  text-align: center;
  background: #f6f6f6;
  padding: 38px 0 57px 0;
}
.search h2 {
  font-size: 23.8px;
  font-weight: 700;
  padding: 0 45px;
  margin-bottom: 14px;
}
.search p {
  font-size: 17.8px;
  padding: 0 20px;
  margin-bottom: 33px;
}

.workflow {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  padding-top: 48px;
  padding-bottom: 45px;
}
.workflow h2 {
  font-size: 23.8px;
  font-weight: 700;
  margin-bottom: 26px;
}

.restaurants {
  padding: 54px 0 46px 0;
  background: #f6f6f6;
}
.restaurants .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
}
.restaurants h2 {
  font-size: 23.8px;
  margin-bottom: 22px;
}

/*
** Styles spécifiques à la page des restaurants
*/
main header {
  background-color: #f6f6f6;
}
main header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  overflow: hidden;
}
main header picture img {
  object-fit: cover;
  width: 100%;
  align-self: stretch;
}
main header .label {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 800px;
  position: relative;
  padding-top: 35px;
  padding-bottom: 34px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
main header .label h1 {
  display: inline-block;
  width: calc(100% - 46px);
  font-size: 28px;
  font-weight: 400;
}
main header .label .like {
  position: absolute;
  font-size: 22px;
  right: 38px;
  top: 38px;
}
main header .label .like::before {
  color: #f6f6f6;
}
main .menu {
  background: #f6f6f6;
  padding-bottom: 12px;
}
main .menu .services {
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 13px;
  max-width: 800px;
}
main .menu .services .service {
  margin-bottom: 34px;
}
main .menu .services .service__name {
  margin: 0 6px 15px 6px;
}
main .menu .services .service__name h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16.4px;
  margin-bottom: 5px;
}
main .order {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 58px;
}
main .order .button {
  padding: 0 49px;
}

/*# sourceMappingURL=styles.css.map */
