@charset "UTF-8";
/*
** Styles de base
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
ol,
ul {
  margin: 0;
}

ul, ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: black;
}

/*
** Polices de caractères
*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Shrikhand-Regular.woff2") format("woff2"), url("../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}
/*
** Typographie
*/
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Shrikhand", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*
** Mise en page du site
*/
body {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/*
** Styles pour l'en-tête de page
*/
header {
  margin: 20px 0 10px 0;
}
header a {
  font-size: 20.5px;
  color: #353535;
  position: absolute;
  left: 23px;
  top: 22px;
}
header .logo {
  font-size: 29px;
  text-align: center;
}

/*
** Styles pour le pied de page
*/
footer {
  background: #353535;
  padding: 25px 25px 30px 25px;
}
footer h1 {
  color: white;
  font-size: 17.9px;
  font-weight: 400;
  margin-bottom: 16px;
}
footer ul {
  list-style-type: none;
  line-height: 26.2px;
  padding-left: 0;
}
footer li a {
  color: white;
  display: flex;
  align-items: center;
}
footer li i {
  font-size: 12.3px;
  padding-right: 22px;
}
footer li p {
  font-size: 16.3px;
}

/*
** Styles du champ du formulaire de recherche
*/
.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(#cecece, #eaeaea 10%);
}
.search-input__field {
  margin-left: 11px;
  background-color: transparent;
  border: none;
  font-size: 15.25px;
  font-weight: 700;
  width: 140px;
}
.search-input__field:focus {
  outline: none;
}

/*
** Style des boutons
*/
.button {
  height: 50px;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16.5px;
  padding: 0 22px;
  box-shadow: 0px 5px 5px #c6c6c6;
}
.button:hover {
  cursor: pointer;
}

/*
** Styles d'une étape du fonctionnement
*/
.step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: 75px;
  border-radius: 15px;
  box-shadow: 0px 6px 6px #e4e4e4;
  margin-left: 12px;
  padding-top: 8px;
  margin-bottom: 23px;
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12.8px;
  color: white;
  background: #9356dc;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  margin-right: 21px;
  padding-top: 2px;
}
.step__icon {
  width: 41px;
  color: #7e7e7e;
  font-size: 18px;
}
.step__label {
  font-weight: 700;
  font-size: 15.4px;
}
.step:hover {
  background: #f4eefc;
}
.step:hover .step__icon {
  color: #9356dc;
}

/*
** Styles de l'icône 'like'
*/
.like {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.like--off {
  background: white;
  z-index: 1;
}
.like--off:hover {
  z-index: -1;
}
.like--on {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
}

/*
** Styles d'une carte de restaurant
*/
.card {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 6px 6px #e4e4e4;
  margin-bottom: 18px;
}
.card__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 174px;
  overflow: hidden;
}
.card__picture img {
  object-fit: cover;
  width: 100%;
  align-self: stretch;
}
.card__sticky {
  position: absolute;
  background: #99e2d0;
  color: #227661;
  font-size: 13.3px;
  font-weight: 700;
  top: 13px;
  right: 12px;
  padding: 6.5px 12px;
  border-radius: 3px;
}
.card__label {
  position: relative;
  width: calc(100% - 46px);
  padding: 16px 13px 15px 13px;
}
.card__label h3 {
  font-size: 17.4px;
  margin-bottom: 5px;
}
.card__label p {
  font-size: 16.9px;
}
.card__like {
  position: absolute;
  font-size: 22px;
  right: -22px;
  top: 22px;
}
.card__like--off {
  background: white;
  z-index: 1;
}
.card__like--off:hover {
  z-index: 0;
}
.card__like--on {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  z-index: 0;
}
.card__like--on:hover {
  z-index: 1;
}

/*
** Soulignement
*/
.underline {
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

/*
** Styles spécifiques à la page d'accueil
*/
.search-form {
  background: #f6f6f6;
  text-align: center;
  padding: 0 0 57px 0;
}
.search-form h2 {
  font-size: 23.7px;
  font-weight: 700;
  padding: 0 45px;
  margin: 39px 0 13px 0;
}
.search-form p {
  font-size: 18.2px;
  padding: 0 30px;
  margin: 0 0 31px 0;
}

.workflow {
  padding: 0 20px;
  margin: 48px 0 0 0;
}
.workflow h2 {
  font-size: 23.3px;
  font-weight: 700;
  margin: 0 0 26px 0;
}
.workflow ol {
  list-style-type: none;
  padding: 0 0 45px 0;
}

.restaurants {
  padding: 54px 20px 46px 20px;
  background: #f6f6f6;
}
.restaurants h2 {
  font-size: 23.4px;
  margin: 0 0 23px 0;
}

/*
** Styles spécifiques à la page du restaurant "À la française"
*/
main header {
  margin: 0;
}
main header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  overflow: hidden;
}
main header picture img {
  object-fit: cover;
  width: 100%;
  align-self: stretch;
}
main header .label {
  position: relative;
  padding: 36px 20px 33px 20px;
  background: #f6f6f6;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
}
main header .label h1 {
  display: inline-block;
  width: calc(100% - 46px);
  font-size: 28px;
  font-weight: 400;
}
main header .label .like {
  position: absolute;
  font-size: 22px;
  right: 38px;
  top: 38px;
}
main header .label .like--off {
  background: #f6f6f6;
  z-index: 1;
}
main header .label .like--off:hover {
  z-index: 0;
}
main header .label .like--on {
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  color: transparent;
  z-index: 0;
}
main header .label .like--on:hover {
  z-index: 1;
}
main .menu {
  background: #f6f6f6;
  padding: 0 12px 10px 14px;
}
main .menu .service {
  margin-bottom: 40px;
}
main .menu .service__name {
  margin: 0 6px 14px 6px;
}
main .menu .service__name h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16.5px;
  margin-bottom: 5px;
}
main .menu .dish {
  display: flex;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 16px;
  box-shadow: 0px 5px 5px #c6c6c6;
}
main .menu .dish__name {
  margin: 13px 0 12px 11px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
main .menu .dish__name h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17.4px;
  margin-bottom: 6px;
}
main .menu .dish__name p {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
main .menu .dish__price {
  align-self: flex-end;
  font-size: 15px;
  font-weight: 700;
  margin: 13px 23px 11px 13px;
}
main .menu .dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-shrink: 0;
  width: 59px;
  background: #99e2d0;
  font-size: 20px;
  margin-right: -59px;
  transition: margin-right 200ms ease-in-out;
}
main .menu .dish:hover .dish__check {
  margin-right: 0;
}
main .order {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding-bottom: 83px;
}
main .order .button {
  padding: 0 49px;
}

/*
** Thème par défaut
*/
body {
  background: white;
  color: black;
}
