@charset "UTF-8";
/*
** 'ohmyfood' - Feuille de styles SCSS
*/
/*
** Styles de base
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: white;
  color: black;
  min-width: 240px;
}

p,
h1,
h2,
h3,
h4,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  color: black;
  text-decoration: none;
}

/*
** Typographie
*/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2"), url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Shrikhand-Regular.woff2") format("woff2"), url("../assets/fonts/Shrikhand-Regular.ttf") format("truetype");
}
body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Shrikhand", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/*
** Animations
*/
@keyframes loader {
  from, 80% {
    opacity: 1;
  }
  99%, to {
    opacity: 0;
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes logo {
  from, 80% {
    color: #99e2d0;
  }
  to {
    color: #101010;
  }
}
@keyframes fork {
  from {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-720deg);
  }
  75% {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-270deg);
  }
  to {
    transform: scale(1) translateX(-125px);
  }
}
@keyframes knife {
  from {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-1440deg);
  }
  75% {
    transform-origin: 50% 97.5%;
    transform: scale(0.5) translateY(-97.5%) rotate(-90deg);
  }
  to {
    transform: scale(1) translateX(125px);
  }
}
@keyframes like-hide {
  0%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes like-grow {
  0% {
    opacity: 0;
    transform: translate(0, 9.625px) scale(0);
  }
  50%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(1.0909090909);
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spin {
  from, 60% {
    transform: rotate(-270deg);
  }
  to {
    transform: rotate(0);
  }
}
/*
** En-tête de page
*/
body > header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  background-color: white;
}
body > header a {
  position: absolute;
  left: 22px;
  font-size: 20.3px;
  color: #353535;
}
body > header .logo {
  z-index: 2;
  margin: 0 auto;
  font-size: 29px;
  color: #101010;
}
body > header .logo--animated {
  animation: logo 3000ms;
}

/*
** Pied de page
*/
footer {
  padding: 24px 0 31px;
  background-color: #353535;
}
footer .container {
  max-width: 1200px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
footer h1 {
  margin-bottom: 16px;
  font-size: 17.9px;
  font-weight: 400;
  color: white;
}
footer ul {
  line-height: 26.2px;
}
footer li a {
  display: flex;
  align-items: center;
  color: white;
}
footer li i {
  padding-right: 22px;
  font-size: 12.3px;
}
footer li p {
  font-size: 16.3px;
}

/*
** Animation au chargement
*/
.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: loader 3000ms forwards;
}

.plate {
  position: absolute;
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border: 40px solid #99e2d0;
  border-radius: 50%;
}

.fork,
.knife {
  position: absolute;
  width: 50px;
  height: 150px;
  opacity: 0.8;
}

.fork {
  fill: #9356dc;
  animation: fork 2400ms linear both;
}

.knife {
  fill: #ff79da;
  animation: knife 2400ms linear both;
}

/*
** Champ de saisie du formulaire de recherche
*/
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(#cecece, #eaeaea 10%);
}
.input__label, .input__field {
  z-index: 1;
}
.input__label:hover, .input__field:hover {
  cursor: pointer;
}
.input__field {
  width: 140px;
  margin-left: 15px;
  font-size: 15.5px;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border: none;
}
.input__field:focus {
  outline: none;
}
.input__background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #9356dc;
  opacity: 0;
}
.input__field:focus + .input__background {
  opacity: 0.1;
}

/*
** Bouton
*/
.button {
  height: 50px;
  padding: 0 21px;
  font-size: 16.3px;
  color: white;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 5px #c6c6c6;
  transition: all 300ms;
}
.button:hover {
  box-shadow: 0px 5px 5px #8c8c8c;
  opacity: 0.75;
  cursor: pointer;
}

/*
** Etape du fonctionnement
*/
.step {
  display: flex;
  align-items: center;
  height: 75px;
  padding: 8px 18px 0 0;
  margin-left: 12px;
  flex-grow: 1;
  background: #f6f6f6;
  border-radius: 15px;
  box-shadow: 0px 6px 6px #e4e4e4;
  cursor: pointer;
}
@media screen and (min-width: 940px) {
  .step {
    flex-basis: 0;
  }
}
.step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 22px 0 -12px;
  flex-shrink: 0;
  font-size: 12.8px;
  color: white;
  background-color: #9356dc;
  border-radius: 12px;
}
.step__icon {
  width: 41px;
  flex-shrink: 0;
  font-size: 18px;
  color: #7e7e7e;
}
.step__label {
  font-size: 15.8px;
  font-weight: 700;
}
.step:hover {
  background-color: #f5f0fc;
}
.step:hover .step__icon {
  color: #9356dc;
}

/*
** Icône 'like'
*/
.like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-weight: 900;
}

.like::before,
.like::after {
  content: "\f004";
  position: absolute;
}

.like::before {
  color: white;
  text-shadow: 1px 0px 0 black, 0.8660254038px 0.5px 0 black, 0.5px 0.8660254038px 0 black, 0px 1px 0 black, -0.5px 0.8660254038px 0 black, -0.8660254038px 0.5px 0 black, -1px 0px 0 black, -0.8660254038px -0.5px 0 black, -0.5px -0.8660254038px 0 black, 0px -1px 0 black, 0.5px -0.8660254038px 0 black, 0.8660254038px -0.5px 0 black;
}

.like::after {
  color: transparent;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}

.like:hover {
  cursor: pointer;
}
.like:hover::before {
  animation: like-hide 300ms ease-in-out forwards;
}
.like:hover::after {
  animation: like-grow 300ms ease-in-out forwards;
}

/*
** Carte de restaurant
*/
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 6px 6px #e4e4e4;
  overflow: hidden;
}
@media screen and (min-width: 792px) {
  .card {
    flex-grow: 1;
    flex-basis: calc(50% - 9px);
  }
}
.card__picture {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  overflow: hidden;
}
.card__picture img {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
.card__sticky {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 6.5px 13px;
  font-size: 13.6px;
  font-weight: 700;
  color: #227661;
  background-color: #99e2d0;
  border-radius: 3px;
}
.card__label {
  position: relative;
  width: calc(100% - 46px);
  padding: 16px 13px 15px;
}
.card__label h3 {
  margin-bottom: 5px;
  font-size: 17.8px;
}
.card__label p {
  font-size: 16.9px;
}
.card__label .like {
  position: absolute;
  top: 22px;
  right: -22px;
}

/*
** Soulignement du service
*/
.underline {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}

/*
** Plat d'un menu
*/
.dish {
  display: flex;
  margin-bottom: 14px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 5px #e4e4e4;
  overflow: hidden;
  cursor: pointer;
}
.dish:nth-child(1) {
  animation: fade-in 800ms 0ms backwards;
}
.dish:nth-child(2) {
  animation: fade-in 800ms 180ms backwards;
}
.dish:nth-child(3) {
  animation: fade-in 800ms 360ms backwards;
}
.dish:nth-child(4) {
  animation: fade-in 800ms 540ms backwards;
}
.dish__name {
  width: 100%;
  margin: 13px 0 12px 11px;
  white-space: nowrap;
  overflow: hidden;
}
.dish__name h4 {
  margin-bottom: 6px;
  font-size: 17.9px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__name p {
  font-size: 14.7px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dish__price {
  align-self: flex-end;
  flex-shrink: 0;
  margin: 13px 23px 11px 13px;
  font-size: 14.7px;
  font-weight: 700;
}
.dish__check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 59px;
  margin-right: -59px;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-weight: 900;
  color: white;
  background-color: #99e2d0;
  transition: margin-right 500ms ease-in-out;
}
.dish__check::before {
  content: "\f058";
}
.dish:hover .dish__check {
  margin-right: 0;
}
.dish:hover .dish__check::before {
  animation: spin 500ms ease-out forwards;
}

/*
** Page d'accueil
*/
.search {
  padding: 38px 0 57px 0;
  text-align: center;
  background: #f6f6f6;
}
.search h2 {
  padding: 0 45px;
  margin-bottom: 14px;
  font-size: 23.8px;
  font-weight: 700;
}
.search p {
  padding: 0 20px;
  margin-bottom: 33px;
  font-size: 17.8px;
}

.workflow {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-bottom: 68px;
}
.workflow h2 {
  margin-bottom: 26px;
  font-size: 23.8px;
  font-weight: 700;
}
.workflow ol {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
@media screen and (min-width: 940px) {
  .workflow ol {
    flex-direction: row;
  }
}

.restaurants {
  padding: 54px 0 64px;
  background-color: #f6f6f6;
}
.restaurants h2 {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  font-size: 23.8px;
}
.restaurants .container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  gap: 18px;
}
@media screen and (min-width: 792px) {
  .restaurants .container {
    flex-flow: row wrap;
  }
}

/*
** Pages des restaurants
*/
main header {
  background-color: #f6f6f6;
}
main header picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  overflow: hidden;
}
main header picture img {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
main header .label {
  position: relative;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 34px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
@media screen and (max-width: 1200px) {
  main header .label {
    margin-top: -40px;
  }
}
main header .label h1 {
  display: inline-block;
  width: calc(100% - 46px);
  font-size: 28px;
  font-weight: 400;
}
main header .label .like {
  position: absolute;
  font-size: 22px;
  right: 38px;
  top: 38px;
}
main header .label .like::before {
  color: #f6f6f6;
}
main .menu {
  background: #f6f6f6;
}
main .menu .services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1024px) {
  main .menu .services {
    flex-direction: row;
  }
}
main .menu .services .service {
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  main .menu .services .service {
    width: calc((100% - 40px) / 3);
  }
}
main .menu .services .service__name {
  margin: 0 6px 15px;
}
main .menu .services .service__name h3 {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16.4px;
  text-transform: uppercase;
}
main .order {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 32px 0 58px;
}
main .order .button {
  padding: 0 49px;
}

/*# sourceMappingURL=styles.css.map */
