@charset 'utf-8';

// 1. Configuration Sass (abstracts)
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Tierces parties (vendors)
//  Il est tout à fait possible d'intégrer ici les codes SCSS de 'normalize' et 'fontawesome'.
//  Toutefois, cette intégration provoque le signalement d'erreurs et d'avertissements
//  par le service de validation CSS du W3C (https://jigsaw.w3.org/css-validator/)

// 3. Styles de base (base)
@import 'base/base';
@import 'base/typography';

// 4. Mise en page (layout)
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';

// 5. Composants (components)
@import 'components/loader';
@import 'components/input';
@import 'components/button';
@import 'components/step';
@import 'components/like';
@import 'components/card';
@import 'components/underline';
@import 'components/dish';

// 6. Pages (pages)
@import 'pages/home';
@import 'pages/restaurant';

// 7. Thèmes (themes)
//  Aucun thème n'a été défini