@charset 'utf-8';

// 1. Configuration (abstracts)
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// 2. Tierces parties (vendors)
// Intégration des codes de 'normalize' et 'fontawesome' abandonnée
// en raison des erreurs et avertissements générés par le validateur du W3C

// 3. Base (base)
@import 'base/base';
@import 'base/fonts';
@import 'base/typography';

// 4. Mise en page (layout)
@import 'layout/layout';
@import 'layout/header';
@import 'layout/footer';

// 5. Composants (components)
@import 'components/search-input';
@import 'components/button';
@import 'components/step';
@import 'components/like';
@import 'components/card';
@import 'components/underline';
@import 'components/dish';

// 6. Pages (pages)
@import 'pages/homepage';
@import 'pages/restaurant';

// 7. Thèmes (themes)
@import 'themes/default';
