/*
** Styles spécifiques à la page d'accueil
*/

.search {
  text-align: center;
  background: $section-background-color;
  padding: 38px 0 57px 0;

  & h2 {
    font-size: 23.8px;
    font-weight: 700;
    padding: 0 45px;
    margin-bottom: 14px;
  }

  & p {
    font-size: 17.8px;
    padding: 0 20px;
    margin-bottom: 33px;
  }
}

.workflow {
  @include container;
  padding-top: 48px;
  padding-bottom: 68px;

  & h2 {
    font-size: 23.8px;
    font-weight: 700;
    margin-bottom: 26px;
  }

  & ol {
    display: flex;
    flex-direction: column;
    row-gap: 23px;

    @media screen and (min-width: map-get($breakpoints, "bp-workflow")) {
      flex-direction: row;
      column-gap: 23px;
    }
  }
}

.restaurants {
  padding: 54px 0 64px 0;
  background: $section-background-color;

  & h2 {
    @include container;
    font-size: 23.8px;
    margin-bottom: 22px;
  }

  & .container {
    @include container;
    display: flex;
    flex-direction: column;
    row-gap: 18px;

    @media screen and (min-width: map-get($breakpoints, "bp-restaurants")) {
      flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 18px;
    }
  }
}