/*
** Page d'accueil
*/

.search {
  padding: 38px 0 57px 0;
  text-align: center;
  background: $section-background-color;

  & h2 {
    padding: 0 45px;
    margin-bottom: 14px;
    font-size: 23.8px;
    font-weight: 700;
  }

  & p {
    padding: 0 20px;
    margin-bottom: 33px;
    font-size: 17.8px;
  }
}

.workflow {
  @include container;
  padding-top: 48px;
  padding-bottom: 68px;

  & h2 {
    margin-bottom: 26px;
    font-size: 23.8px;
    font-weight: 700;
  }

  & ol {
    display: flex;
    flex-direction: column;
    gap: 23px;

    @media screen and (min-width: map-get($breakpoints, "bp-workflow")) {
      flex-direction: row;
    }
  }
}

.restaurants {
  padding: 54px 0 64px;
  background-color: $section-background-color;

  & h2 {
    @include container;
    margin-bottom: 22px;
    font-size: 23.8px;
  }

  & .container {
    display: flex;
    flex-direction: column;
    @include container;
    gap: 18px;

    @media screen and (min-width: map-get($breakpoints, "bp-restaurants")) {
      flex-flow: row wrap;
    }
  }
}