/*
** Styles spécifiques à la page des restaurants
*/

main {

  & header {
    background-color: $section-background-color;


    & picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;
      overflow: hidden;

      & img {
        object-fit: cover;
        width: 100%;
        align-self: stretch;

      }
    }

    & .label {
      @include container;
      position: relative;
      padding-top: 35px;
      padding-bottom: 34px;
      background-color: $section-background-color;
      border-radius: 40px 40px 0 0;
      margin-top: -40px;

      & h1 {
        display: inline-block;
        width: calc(100% - 46px);
        font-size: 28px;
        font-weight: 400;
      }

      & .like {
        position: absolute;
        font-size: 22px;
        right: 38px;
        top: 38px;
      }

      & .like::before {
        color: $section-background-color;
      }

    }
  }

  & .menu {
    background: $section-background-color;
    padding-bottom: 12px;

    & .services {
      @include container(13px);

      & .service {

        margin-bottom: 34px;

        &__name {
          margin: 0 6px 15px 6px;

          & h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16.4px;
            margin-bottom: 5px;
          }
        }
      }
    }

  }

  & .order {
    display: flex;
    justify-content: center;
    background-color: $section-background-color;
    padding-bottom: 58px;

    & .button {
      padding: 0 49px;
    }
  }

}