/*
** Styles spécifiques à la page des restaurants
*/

main {

  & header {
    margin: 0;

    & picture {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 260px;
      overflow: hidden;

      & img {
        object-fit: cover;
        width: 100%;
        align-self: stretch;
      }
    }

    & .label {
      position: relative;
      padding: 36px 20px 33px 20px;
      background: $section-background-color;
      border-radius: 40px 40px 0 0;
      margin-top: -40px;

      & h1 {
        display: inline-block;
        width: calc(100% - 46px);
        font-size: 28px;
        font-weight: 400;
      }

      & .like {
        position: absolute;
        font-size: 22px;
        right: 38px;
        top: 38px;
      }
    }
  }

  & .menu {
    background: $section-background-color;
    padding: 0 12px 10px 14px;

    & .service {
      margin-bottom: 40px;

      &__name {
        margin: 0 6px 14px 6px;

        & h2 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 16.5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  & .like::before {
    color: $section-background-color;
  }

  & .order {
    display: flex;
    justify-content: center;
    background-color: $section-background-color;
    padding-bottom: 83px;

    & .button {
      padding: 0 49px;
    }
  }

}