/*
** Pied de page
*/

footer {
  padding: 24px 0 31px;
  background-color: scale-color($general-background-color, $lightness: -79.2%);

  .container {
    @include container(25px);
  }

  h1 {
    margin-bottom: 16px;
    font-size: 17.9px;
    font-weight: 400;
    color: $general-background-color;
  }

  ul {
    line-height: 26.2px;
  }

  li {

    a {
      @include flex-center(false);
      color: $general-background-color;
    }

    i {
      padding-right: 22px;
      font-size: 12.3px;
    }

    p {
      font-size: 16.3px;
    }
  }
}