/*
** Styles pour le pied de page
*/

footer {
  background: $footer-background-color;
  padding: 25px 25px 30px 25px;

  & h1 {
    color: $footer-text-color;
    font-size: 17.9px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  & ul {
    list-style-type: none;
    line-height: 26.2px;
    padding-left: 0;
  }

  & li {

    & a {
      color: $footer-text-color;
      display: flex;
      align-items: center;
    }

    & i {
      font-size: 12.3px;
      padding-right: 22px;
    }

    & p {
      font-size: 16.3px;
    }
  }
}