/*
** Styles pour l'en-tête de page
*/

body>header {
  background-color: $general-background-color;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
  max-width: $max-width;
  margin: 0 auto;

  & a {
    font-size: 20.3px;
    color: scale-color($general-text-color, $lightness: 20.8%);
    position: absolute;
    left: 22px;
  }

  & .logo {
    font-size: 29px;
    margin: 0 auto;
  }

  // }
}