/*
** En-tête de page
*/

header:not(.signboard) {
  @include flex-center;
  position: relative;
  @include container(0);
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: $general-background-color;

  a {
    position: absolute;
    left: 22px;
    font-size: 20.3px;
    color: scale-color($general-text-color, $lightness: 20.8%);
  }
}