/*
** Styles pour l'en-tête de page
*/

body>header {
  background-color: $general-background-color;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;

  & a {
    font-size: 20.5px;
    color: scale-color($general-text-color, $lightness: 20.8%);
    position: absolute;
    left:23px;
  }

  & .logo {
    font-size: 29px;
    margin: 0 auto;
  }
}
}