/*
** Style des boutons
*/

.button {
  height: 50px;
  background: linear-gradient(to top left, $primary-color, $secondary-color);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16.5px;
  padding: 0 22px;
  box-shadow: 0px 5px 5px $button-shadow-color;
  transition-property: box-shadow, opacity;
  transition-duration: 300ms;

  &:hover {
    cursor: pointer;
    //background-image: linear-gradient(to top left, scale-color($primary-color, $lightness : 25%), scale-color($secondary-color,$lightness : 25%));
    box-shadow: 0px 5px 5px scale-color($button-shadow-color, $lightness: -25%);
    opacity: 0.75;
  }
}

