/*
** Carte de restaurant
*/

.card {
  background-color: $general-background-color;
  border-radius: 15px;
  box-shadow: 0px 6px 6px $shadow-color;
  overflow: hidden;

  @media screen and (min-width: map-get($breakpoints, "bp-restaurants")) {
    flex-grow: 1;
    flex-basis: calc(50% - 9px);
  }

  &__picture {
    position: relative;
    @include flex-center;
    height: 175px;
    overflow: hidden;

    img {
      width: 100%;
      align-self: stretch;
      object-fit: cover;
    }
  }

  &__sticky {
    position: absolute;
    top: 13px;
    right: 12px;
    padding: 6.5px 13px;
    font-size: 13.6px;
    font-weight: 700;
    color: scale-color($tertiary-color, $lightness: -60%);
    background-color: $tertiary-color;
    border-radius: 3px;
  }

  &__label {
    position: relative;
    width: calc(100% - 46px);
    padding: 16px 13px 15px;

    h3 {
      margin-bottom: 5px;
      font-size: 17.8px;
    }

    p {
      font-size: 16.9px;
    }

    .like {
      position: absolute;
      top: 22px;
      right: -22px;
    }
  }
}