/*
** Styles d'une carte de restaurant
*/

$sticky-text-color: scale-color($tertiary-color, $lightness: -60%);

.card {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  background: $general-background-color;
  box-shadow: 0px 6px 6px $shadow-color;
  margin-bottom: 18px;

  &__picture {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
      align-self: stretch;
    }
  }

  &__sticky {
    position: absolute;
    background: $tertiary-color;
    color: $sticky-text-color;
    font-size: 13.6px;
    font-weight: 700;
    top: 13px;
    right: 12px;
    padding: 6.5px 13px;
    border-radius: 3px;
  }

  &__label {
    position: relative;
    width: calc(100% - 46px);
    padding: 16px 13px 15px 13px;

    & h3 {
      font-size: 17.8px;
      margin-bottom: 5px;
    }

    & p {
      font-size: 16.9px;
    }

    & .like {
      position: absolute;
      font-size: 22px;
      right: -22px;
      top: 22px;
    }
  }
}