$dish-animation-duration: 800ms;
$dish-animation-delay: 180ms;

@keyframes fade-in {
    from {
        opacity: 0;
        transform:translateY(20px);
    }

    to {
        opacity: 1;
        transform:translateY(0);
    }
}

$check-animation-duration: 500ms;

@keyframes spin {

    from,
    60% {
        transform: rotate(-270deg);
    }

    to {
        transform: rotate(0);
    }
}

.dish {
    display: flex;
    background: $general-background-color;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 16px;
    box-shadow: 0px 5px 5px $shadow-color;

    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation: fade-in $dish-animation-duration $dish-animation-delay*($i - 1) backwards;
        }
    }


    &__name {
        margin: 13px 0 12px 11px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;

        & h3 {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 17.4px;
            margin-bottom: 6px;
        }

        & p {
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
        }
    }

    &__price {
        align-self: flex-end;
        font-size: 15px;
        font-weight: 700;
        margin: 13px 23px 11px 13px;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        color: $general-background-color;
        flex-shrink: 0;
        width: 59px;
        background: $tertiary-color;
        font-size: 20px;
        margin-right: -59px;
        transition: margin-right $check-animation-duration ease-in-out;

        &::before {
            content: "\f058";
        }
    }

    &:hover {
        .dish__check {
            margin-right: 0;

            &::before {
                animation: spin $check-animation-duration ease-out forwards;
            }
        }
    }
}