/*
** Styles du champ du formulaire de recherche
*/

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(scale-color($general-background-color, $lightness: -19.2%), scale-color($general-background-color, $lightness: -8.2%) 10%);

  &__label,
  &__field {
    z-index: 1;
  }

  &__field {
    margin-left: 15px;
    background-color: transparent;
    border: none;
    color: $general-text-color;
    font-size: 15.5px;
    font-weight: 700;
    width: 140px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: $primary-color;
    opacity: 0;
  }

  &__field:focus+&__background {
    opacity: 0.1;
  }
}