/*
** Animation au chargement de la page d'accueil
*/

.loader {
  @include flex-center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: $general-background-color;
  animation: loader $loader-duration forwards;
}

.plate {
  position: absolute;
  width: $plate-size;
  height: $plate-size;
  flex-shrink: 0;
  border: $plate-size*0.2 solid $tertiary-color;
  border-radius: 50%;
}

.fork,
.knife {
  position: absolute;
  width: 0.25*$plate-size;
  height: 0.75*$plate-size;
  opacity: 0.8;
}

.fork {
  fill: $primary-color;
  animation: fork 0.8*$loader-duration linear both;
}

.knife {
  fill: $secondary-color;
  animation: knife 0.8*$loader-duration linear both;
}