/**
* Styles du champ du formulaire de recherche
*/

.search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient($input-shadow-color, $input-background-color 10%);

  &__label {
    margin-right: 15px;
  }

  &__field {
    background-color: transparent;
    border: none;
    font-size: 0.95rem;
    font-weight: 700;
    width: 140px;

    &:focus {
      outline: none;
    }
  }
}