/*
** Etape du fonctionnement
*/

.step {
  @include flex-center(false);
  height: 75px;
  padding: 8px 18px 0 0;
  margin-left: 12px;
  flex-grow: 1;
  background: $section-background-color;
  border-radius: 15px;
  box-shadow: 0px 6px 6px $shadow-color;
  cursor: pointer;

  @media screen and (min-width: map-get($breakpoints, "bp-workflow")) {
    flex-basis: 0;
  }

  &__number {
    @include flex-center;
    width: 24px;
    height: 24px;
    margin: 0 22px 0 -12px;
    flex-shrink: 0;
    font-size: 12.8px;
    color: $general-background-color;
    background-color: $primary-color;
    border-radius: 12px;
  }

  &__icon {
    width: 41px;
    flex-shrink: 0;
    font-size: 18px;
    color: scale-color(change-color($primary-color, $saturation: 0%), $lightness: -17.6%);
  }

  &__label {
    font-size: 15.8px;
    font-weight: 700;
  }

  &:hover {
    background-color: scale-color($primary-color, $lightness: 91%);
  }

  &:hover &__icon {
    color: $primary-color;
  }
}