/*
** Styles de base
*/

// Modèle de boîte

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Corps de la page

body {
  background: $general-background-color;
  color: $general-text-color;
  min-width: map-get($breakpoints, "bp-min");
}

// Suppression des marges des éléments

p,
h1,
h2,
h3,
h4,
ol,
ul {
  margin: 0;
}

// Listes sans puces, ni numérotation, ni retrait

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

// Ancres

a {
  color: $general-text-color;
  text-decoration: none;
}