/*
** Polices de caractères
*/

// Roboto Regular

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: font('Roboto-Regular.woff2') format('woff2'),
    font('Roboto-Regular.ttf') format('truetype');
}

// Roboto Bold

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: font('Roboto-Bold.woff2') format('woff2'),
    font('Roboto-Bold.ttf') format('truetype');
}

// Shrikhand

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: font('Shrikhand-Regular.woff2') format('woff2'),
    font('Shrikhand-Regular.ttf') format('truetype');
}