/**
* Polices de caractères
*/

@font-face {
  src: font('RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-family: 'Roboto';
}

@font-face {
  src: font('Shrikhand-Regular.ttf') format('truetype');
  font-family: 'Shrikhand';
}