/*
** Typographie
*/

// Police 'Roboto Regular'

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: font('Roboto-Regular.woff2') format('woff2'),
    font('Roboto-Regular.ttf') format('truetype');
}

// Police 'Roboto Bold'

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font('Roboto-Bold.woff2') format('woff2'),
    font('Roboto-Bold.ttf') format('truetype');
}

// Police 'Shrikhand'

@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  src: font('Shrikhand-Regular.woff2') format('woff2'),
    font('Shrikhand-Regular.ttf') format('truetype');
}

// Typographie

body {
  font-family: $font-stack-default;
}

h1 {
  font-family: $font-stack-title;
}