// Mixins Sass

/// Mixin de centrage du contenu
/// @param {Length} $padding [20px] - remplissage gauche et droit
@mixin container($padding: 20px) {
  max-width: map-get($breakpoints, "bp-max");
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}