// Variables Sass

// Polices de caractères
// URL de base des ressources (polices de caractères, images, etc.)
$base-url: '../assets/' !default;

// Pile de polices de caractères par défaut
$font-stack-default: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;

// Pile de polices de caractères pour le titre
$font-stack-title: 'Shrikhand', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

// Couleurs
// Couleurs de l'identité graphique
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

// Couleurs de fond et de texte
$general-text-color: black;
$general-background-color: white;
$section-background-color: scale-color($general-background-color, $lightness: -3.5%);

// Ombre portée des cartes
$shadow-color: scale-color($general-background-color, $lightness: -10.6%);

// Breakpoints
$breakpoints: (
  "bp-min": 240px,
  "bp-workflow": 940px,
  "bp-restaurants": 792px,
  "bp-menu": 1024px,
  "bp-max": 1200px
);